/*                   VARIABLES                */
/*                     IMPORT               */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* INDEX */
body {
  display: grid;
  background-image: url(../media/img/fondo2.jpg);
  background-size: cover;
  background-attachment: fixed;
  line-height: 2.4rem;
  font-family: 'Merienda', cursive;
  width: 100%;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header" "main" "footer"; }

header {
  grid-area: header; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

/* MENU */
.grid--nav {
  width: 100%;
  max-width: 1200px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  grid-template-areas: "img--header";
  padding-top: 20px;
  margin: auto;
  padding-left: auto; }
  .grid--nav .img--header {
    grid-area: img--header; }
    .grid--nav .img--header img {
      display: inline-block;
      margin: 0 0.5rem;
      animation: bounce;
      animation-duration: 2s;
      width: 150px; }
  .grid--nav header {
    font-family: Helvetica;
    width: 480px;
    margin: 0 auto; }
  .grid--nav #menu {
    display: flex; }
  .grid--nav ul {
    list-style: none; }
  .grid--nav #menu li > a {
    background-color: #727272;
    color: #fff;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 100px; }
  .grid--nav #menu li > a:hover {
    color: #000;
    background-color: #eaeaea; }
  .grid--nav #menu > li {
    float: left;
    text-align: center; }

/* MAIN PRIMER SECTION */
.primero {
  background-color: rgba(122, 120, 120, 0.651);
  height: 720px;
  margin: 60px 100px 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  display: grid; }
  .primero h1 {
    display: grid;
    justify-content: center;
    font-size: 5rem;
    color: #000;
    padding: 80px; }
  .primero p {
    display: grid;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    padding: 20px;
    color: black; }
  .primero .botona {
    display: grid;
    justify-content: center;
    padding: 20px; }
    .primero .botona a {
      text-decoration: none;
      color: #e85d04;
      background-color: #000;
      border-radius: 8px;
      font-size: 1.5rem;
      padding: 10px; }
      .primero .botona a:hover {
        color: #000;
        background-color: #e85d04; }
  .primero .boton__flecha {
    display: grid;
    justify-content: center;
    padding: 50px; }
    .primero .boton__flecha a {
      display: flex;
      justify-content: center;
      height: 70px;
      transform: translateY(-20%);
      transition: 2s;
      overflow: hidden;
      transition: 500ms; }
      .primero .boton__flecha a:hover {
        transform: translateY(20%);
        overflow: hidden;
        transition: 500ms; }

/* MAIN SEGUNDO SECTION */
.section__index--contacto {
  display: grid;
  justify-items: center;
  background-image: url(../media/img/papel.jpg);
  background-size: contain;
  height: 949px;
  margin: auto;
  text-align: center;
  align-content: center; }
  .section__index--contacto .grid--padre {
    width: 80%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "contacto--h2 contacto--h2 contacto--h2 contacto--h2 contacto--h2" "grid--hijo1 grid--hijo1 grid--hijo1 grid--hijo1 grid--hijo1" "grid--hijo2 grid--hijo2 grid--hijo2 grid--hijo2 grid--hijo2" "grid--hijo3 grid--hijo3 grid--hijo5 grid--hijo4 grid--hijo4 " "grid--hijo6 grid--hijo6 grid--hijo6 grid--hijo6 grid--hijo6"; }
  .section__index--contacto .contacto--h2 {
    grid-area: contacto--h2; }
  .section__index--contacto .contacto--h2 h2 {
    display: grid;
    justify-content: center;
    flex-direction: row;
    font-size: 3rem;
    text-align: center;
    padding-top: 100px; }
  .section__index--contacto .grid--hijo1 {
    grid-area: grid--hijo1; }
    .section__index--contacto .grid--hijo1 h3 {
      padding-top: 50px;
      padding-bottom: 50px; }
  .section__index--contacto .grid--hijo2 {
    grid-area: grid--hijo2; }
  .section__index--contacto .grid--hijo3 {
    padding-top: 50px;
    grid-area: grid--hijo3;
    text-align: center; }
    .section__index--contacto .grid--hijo3 a {
      text-decoration: none;
      color: #e85d04;
      background-color: #000;
      padding: 8px;
      border-radius: 8px; }
      .section__index--contacto .grid--hijo3 a:hover {
        color: #000;
        background-color: #e85d04; }
    .section__index--contacto .grid--hijo3 img {
      height: 70px; }
  .section__index--contacto .grid--hijo4 {
    padding-top: 50px;
    grid-area: grid--hijo4;
    text-align: center; }
    .section__index--contacto .grid--hijo4 a {
      text-decoration: none;
      color: #e85d04;
      background-color: #000;
      padding: 8px;
      border-radius: 8px; }
      .section__index--contacto .grid--hijo4 a:hover {
        color: #000;
        background-color: #e85d04; }
    .section__index--contacto .grid--hijo4 img {
      width: 70px; }
  .section__index--contacto .grid--hijo5 {
    grid-area: grid--hijo5; }
  .section__index--contacto .grid--hijo6 {
    grid-area: grid--hijo6; }
  .section__index--contacto .boton__flecha {
    display: grid;
    justify-content: center;
    padding: 50px; }
    .section__index--contacto .boton__flecha a {
      display: flex;
      justify-content: center;
      height: 70px;
      transform: translateY(-20%);
      transition: 2s;
      overflow: hidden;
      transition: 500ms; }
      .section__index--contacto .boton__flecha a:hover {
        transform: translateY(20%);
        overflow: hidden;
        transition: 500ms; }

/* SECTION FOTOS DE CORTES */
.container4 {
  background-image: url(../media/img/fondoCortes.jpg);
  background-size: cover;
  height: 945px;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "h2--padd h2--padd h2--padd" "serv1 serv2 serv3" "serv4 serv5 serv6";
  justify-content: space-around;
  text-align: center; }
  .container4 h2 {
    background-color: rgba(128, 128, 128, 0.575);
    padding: 15px;
    background-position: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem; }
  .container4 a {
    background-color: #5f5e5e;
    color: #f3a91f;
    padding: 10px;
    text-decoration: none; }
    .container4 a:hover {
      background-color: #f3a91f;
      color: #5f5e5e; }
  .container4 p {
    margin-bottom: 8px;
    background-color: gray; }
  .container4 .h2--padd {
    grid-area: h2--padd; }
  .container4 .serv1 {
    grid-area: serv1; }
  .container4 .serv2 {
    grid-area: serv2; }
  .container4 .serv3 {
    grid-area: serv3; }
  .container4 .serv4 {
    grid-area: serv4; }
  .container4 .serv5 {
    grid-area: serv5; }
  .container4 .serv6 {
    grid-area: serv6; }
  .container4 .galeria1 img {
    width: 250px;
    margin: 25px;
    border: 1px solid #eee; }

/* BLOG DE LA BARBERIA */
.section__blog {
  background-image: url(../media/img/fondoblog.jpg);
  background-position: center;
  background-size: cover;
  height: 969px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(1, auto);
  grid-template-areas: "img1 img2 img3";
  justify-content: center;
  align-content: center; }
  .section__blog .img1 {
    grid-area: img1; }
  .section__blog .img2 {
    grid-area: img2; }
  .section__blog .img3 {
    grid-area: img3; }
  .section__blog img {
    width: 250px;
    align-items: center; }
  .section__blog .section__blog--cards {
    margin: 50px;
    text-align: center;
    padding-top: 50px; }
    .section__blog .section__blog--cards h4 {
      color: #fff; }
    .section__blog .section__blog--cards p {
      color: white; }
    .section__blog .section__blog--cards a {
      background-color: #ffbb00;
      color: #222222;
      text-decoration: none;
      padding: 15px;
      padding-top: 10px;
      transform: translateY(-50%);
      transition: 400ms; }
      .section__blog .section__blog--cards a:hover {
        transform: translateX(-50%);
        transition: 400ms;
        background-color: #222222;
        color: #ffbb00; }

/* FOOTER */
footer {
  width: 100%;
  color: #000;
  font-size: 1.2rem;
  background-color: grey;
  height: 190px;
  align-self: flex-end; }
  footer .footer--contenedor {
    display: flex;
    justify-content: center; }
    footer .footer--contenedor .footer__contenedor--items {
      margin: auto;
      display: flex;
      justify-content: center;
      margin-top: 80px; }
      footer .footer--contenedor .footer__contenedor--items img {
        width: 40px;
        margin-left: 20px; }

@media (max-width: 425px) {
  .grid--nav ul {
    display: flex;
    flex-direction: column;
    margin: 30px;
    text-align: center; }
  .primero {
    height: 850px; }
    .primero h1 {
      font-size: 3rem;
      text-align: center;
      line-height: 1.1; }
    .primero p {
      font-size: 1.3rem;
      text-align: center; }
  .section__index--contacto {
    height: 1600px; }
    .section__index--contacto .grid--padre {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center; }
      .section__index--contacto .grid--padre .contacto--h2 {
        line-height: 1.2; }
      .section__index--contacto .grid--padre .grid--hijo3 {
        margin-bottom: 30px; }
  .container4 {
    display: flex;
    flex-direction: column;
    height: 3000px; }
    .container4 img {
      width: 300px; }
    .container4 .h2--padd,
    .container4 .serv1,
    .container4 .serv2,
    .container4 .serv3,
    .container4 .serv4,
    .container4 .serv5,
    .container4 .serv6 {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center; }
  .section__blog {
    display: flex;
    flex-direction: column;
    height: 2500px; }
    .section__blog p {
      max-width: 90%;
      margin: 0 auto; }
  footer {
    height: 400px; }
    footer .footer--contenedor {
      display: flex;
      flex-direction: column; } }

@media (min-width: 426px) and (max-width: 800px) {
  .grid--nav ul {
    display: flex;
    flex-direction: column; }
  .primero {
    height: 1050px; }
    .primero .primero--h1 {
      text-align: center;
      line-height: 1.2; }
    .primero p {
      text-align: center; }
  .section__index--contacto {
    height: 1400px; }
    .section__index--contacto .contacto--h2 {
      line-height: 1.2; }
    .section__index--contacto .grid--hijo1 {
      font-size: 2rem; }
    .section__index--contacto .grid--hijo2 {
      font-size: 1.6rem;
      font-weight: bold;
      margin-bottom: 20px; }
    .section__index--contacto .grid--hijo3,
    .section__index--contacto .grid--hijo4 {
      font-size: 1.2rem;
      font-weight: bold;
      margin-top: 50px; }
  .container4 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "h2--padd h2--padd" "serv1 serv2" "serv3 serv4" "serv5 serv6";
    height: 1850px; }
    .container4 .galeria1 {
      margin: 60px; }
    .container4 .galeria2 {
      margin: 40px; }
  .section__blog {
    display: flex;
    flex-direction: column;
    height: 2450px;
    font-size: 1.4rem; }
    .section__blog p {
      max-width: 60%;
      margin: 0 auto; }
  footer {
    height: 400px; }
    footer .footer--contenedor {
      display: flex;
      flex-direction: column; } }

/* FIN CSS INDEX*/
/* MAIN */
#main__serv {
  background-image: url(../media/img/fondo-serv.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  #main__serv .h1__servicios {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    width: 90%;
    text-align: center; }
    #main__serv .h1__servicios h1 {
      align-items: center;
      text-align: center;
      line-height: 1.2;
      font-size: 2.5rem;
      color: black;
      background-color: rgba(192, 127, 7, 0.801);
      padding: 15px;
      margin: 0 auto; }
  #main__serv .div__main--primero {
    display: flex;
    justify-content: space-around;
    width: 85%;
    text-align: center;
    margin: 0 auto; }
    #main__serv .div__main--primero .main__barba--serv {
      display: block;
      justify-content: space-between;
      font-family: 'Bebas Neue', cursive;
      background-color: rgba(128, 128, 128, 0.563);
      height: 600px;
      width: 85%; }
      #main__serv .div__main--primero .main__barba--serv h2 {
        justify-content: center;
        color: #d18b08;
        font-size: 4.5rem;
        padding-top: 50px;
        padding-bottom: 100px; }
      #main__serv .div__main--primero .main__barba--serv p {
        font-size: 2.2rem;
        padding-bottom: 50px; }
      #main__serv .div__main--primero .main__barba--serv a {
        background-color: #d18b08;
        border-radius: 8px;
        text-decoration: none;
        color: #5a5959;
        font-size: 2rem;
        padding: 10px;
        margin-top: 20px; }
        #main__serv .div__main--primero .main__barba--serv a:hover {
          background-color: #5a5959;
          color: #d18b08;
          border: solid 4px #d18b08;
          margin: 0px; }
    #main__serv .div__main--primero .main__serv--barba {
      display: block;
      justify-content: space-between;
      font-family: 'Bebas Neue', cursive;
      background-color: rgba(128, 128, 128, 0.563);
      height: 650px;
      width: 85%; }
    #main__serv .div__main--primero .grid--hijo__video {
      padding-top: 65px;
      background-color: rgba(128, 128, 128, 0.563); }
      #main__serv .div__main--primero .grid--hijo__video .iframe {
        padding: 40px; }
  #main__serv .main__fotos--barba {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 100px;
    margin: 100px; }
    #main__serv .main__fotos--barba .barba--div {
      text-align: center;
      height: 450px;
      background-color: rgba(102, 102, 102, 0.61);
      transition: 400ms; }
      #main__serv .main__fotos--barba .barba--div:hover {
        transform: translateY(-8%);
        transition: 400ms; }
    #main__serv .main__fotos--barba img {
      width: 300px;
      padding: 20px; }
    #main__serv .main__fotos--barba h3 {
      font-size: 2rem;
      font-family: 'Bebas Neue', cursive; }
    #main__serv .main__fotos--barba .a--boton {
      justify-content: center;
      padding: 30px;
      font-size: 1.9rem;
      font-family: 'Bebas Neue', cursive;
      text-decoration: none;
      color: #5e5e5e; }
      #main__serv .main__fotos--barba .a--boton:hover {
        color: #af7302; }

@media (max-width: 425px) {
  .h1__servicios {
    width: 85%;
    margin: auto;
    padding: 0; }
  .div__main--primero {
    display: flex;
    flex-direction: column;
    height: 600px;
    padding-top: 600px;
    padding-bottom: 600px; }
    .div__main--primero .iframe {
      width: 80%;
      justify-content: center;
      text-align: center; }
    .div__main--primero .grid--hijo__video {
      padding-top: 100px; }
  .main__fotos--barba {
    display: flex;
    flex-direction: column; }
    .main__fotos--barba .barba--div {
      padding-top: 10px; } }

@media (min-width: 426px) and (max-width: 768px) {
  * {
    font-size: 1.15rem; }
  .main__serv--barba {
    height: 1000px; }
    .main__serv--barba h2 {
      font-size: 0.1rem; } }

body {
  font-family: sans-serif; }

.main--blog h1 {
  font-size: 5rem;
  margin: 0 auto;
  text-align: center;
  color: #e85d04;
  text-shadow: 10px 10px 10px #000;
  margin-bottom: 100px; }

.main__blog--img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  .main__blog--img .blog__img--prim {
    background-color: rgba(255, 68, 0, 0.418);
    width: 60%;
    margin: 0 auto;
    margin-bottom: 100px;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 5px; }
    .main__blog--img .blog__img--prim img {
      width: 40%; }
    .main__blog--img .blog__img--prim h2 {
      font-size: 2rem; }
    .main__blog--img .blog__img--prim p {
      font-size: 1.5rem;
      margin: 0 100px 0 100px; }
    .main__blog--img .blog__img--prim a {
      color: #e85d04;
      background: #000;
      padding: 15px;
      border-radius: 8px;
      text-decoration: none; }
      .main__blog--img .blog__img--prim a:hover {
        color: #000;
        background-color: #e85d04; }
  .main__blog--img .blog__img--seg {
    background-color: rgba(255, 68, 0, 0.418);
    width: 60%;
    margin: 0 auto;
    margin-bottom: 100px;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 5px; }
    .main__blog--img .blog__img--seg img {
      width: 40%; }
    .main__blog--img .blog__img--seg h2 {
      font-size: 2rem; }
    .main__blog--img .blog__img--seg p {
      font-size: 1.5rem;
      margin: 0 100px 0 100px; }
    .main__blog--img .blog__img--seg a {
      color: #e85d04;
      background: #000;
      padding: 15px;
      border-radius: 8px;
      text-decoration: none; }
      .main__blog--img .blog__img--seg a:hover {
        color: #000;
        background-color: #e85d04; }
  .main__blog--img .blog__img--ter {
    background-color: rgba(255, 68, 0, 0.418);
    width: 60%;
    margin: 0 auto;
    margin-bottom: 100px;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 5px; }
    .main__blog--img .blog__img--ter img {
      width: 40%; }
    .main__blog--img .blog__img--ter h2 {
      font-size: 2rem; }
    .main__blog--img .blog__img--ter p {
      font-size: 1.5rem;
      margin: 0 100px 0 100px; }
    .main__blog--img .blog__img--ter a {
      color: #e85d04;
      background: #000;
      padding: 15px;
      border-radius: 8px;
      text-decoration: none; }
      .main__blog--img .blog__img--ter a:hover {
        color: #000;
        background-color: #e85d04; }

@media (max-width: 800px) {
  .main--blog {
    height: 2650px; }
    .main--blog h1 {
      line-height: 4rem;
      font-size: 4rem;
      margin: 0 50px 0 50px; }
    .main--blog .blog__img--prim {
      width: 95%; }
      .main--blog .blog__img--prim p {
        margin: 0 50px 0 50px; }
    .main--blog .blog__img--seg {
      width: 95%; }
      .main--blog .blog__img--seg p {
        margin: 0 50px 0 50px; }
    .main--blog .blog__img--ter {
      width: 95%; }
      .main--blog .blog__img--ter p {
        margin: 0 50px 0 50px; } }

@media (max-width: 480px) {
  .main--blog {
    height: 3250px; } }

/* MAIN HISTORIA */
body {
  background-image: url(../media/img/silla-fondo.jpg); }

/* primer div */
.main--historia--titulos {
  background-image: url(../media/img/fondo-madera.jpg);
  background-position: center;
  height: 510px;
  background-size: contain;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  align-items: center; }
  .main--historia--titulos h1 {
    color: #fff;
    font-family: 'PT Serif', serif;
    font-size: 3rem; }
  .main--historia--titulos .corteimg {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    justify-self: center;
    height: 400px;
    display: inline-block;
    margin: 0 0.5rem;
    animation: flipInY;
    animation-duration: 2s; }
  .main--historia--titulos p {
    color: #fff;
    font-size: 2.3rem;
    padding-bottom: 20px;
    font-family: 'PT Serif', serif;
    padding-left: 35px; }

/* segundo div */
.card__flotante {
  width: 35%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 100px auto;
  text-align: center;
  align-items: center;
  height: 800px;
  background: #cb997e; }
  .card__flotante h3 {
    font-size: 1.8rem;
    font-family: 'PT Serif', serif; }
  .card__flotante p {
    font-size: 1.2rem;
    font-family: 'PT Serif', serif; }
  .card__flotante a {
    text-decoration: none;
    color: #fff;
    border: solid 3px #fff;
    margin: 0 auto;
    padding: 5px; }
    .card__flotante a:hover {
      background-color: #6b705c;
      color: #cb997e;
      border: #6b705c solid 3px; }

/* tercer div */
.suenos {
  display: flex;
  background-color: #6c757d;
  height: 130px;
  justify-content: center;
  align-items: center;
  font-size: 2.1rem;
  font-family: 'PT Serif', serif; }

.suenos--2 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  background-color: #ac4c4c;
  background-position: center;
  background-size: cover;
  height: 500px;
  background-repeat: no-repeat;
  align-items: center;
  font-family: 'PT Serif', serif;
  font-size: 1.2rem;
  color: #e0e1dd; }
  .suenos--2 div {
    text-align: center; }
  .suenos--2 .div1his {
    grid-column: 2/3; }
  .suenos--2 .div2his {
    grid-column: 4/5; }
  .suenos--2 .div3his {
    grid-column: 6/7; }

@media (max-width: 425px) {
  .main--historia--titulos {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    height: 800px;
    align-items: center; }
    .main--historia--titulos h1 {
      font-size: 3rem;
      line-height: 1.2; }
    .main--historia--titulos p {
      font-size: 1.2rem;
      padding-left: 50px;
      padding-right: 50px; }
  .card__flotante {
    height: 1000px;
    width: 90%;
    margin-top: 400px; }
  .suenos--2 {
    display: flex;
    flex-direction: column;
    height: 750px; }
    .suenos--2 p {
      margin: 20px; } }

@media (min-width: 425px) and (max-width: 768px) {
  .main--historia--titulos {
    display: flex;
    flex-direction: column;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover; }
    .main--historia--titulos h1, .main--historia--titulos p {
      font-size: 1.7rem;
      margin: 20px; }
  .card__flotante {
    width: 60%; }
  .suenos--2 {
    display: flex;
    height: 1100px; }
    .suenos--2 .div1his,
    .suenos--2 .div2his,
    .suenos--2 .div3his {
      margin: 40px; } }

.tienda-h1 {
  text-align: center;
  font-size: 5rem;
  color: #e85d04;
  text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.637);
  margin-bottom: 100px; }

.tarjetas {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  row-gap: 60px;
  margin-bottom: 100px; }
  .tarjetas .tienda-cards {
    background-color: #ffffff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 300px;
    height: 450px;
    text-align: center;
    transition: 450ms; }
    .tarjetas .tienda-cards:hover {
      transform: translateY(-3%);
      box-shadow: 10px 10px 10px rgba(63, 62, 62, 0.651); }
    .tarjetas .tienda-cards img {
      width: 250px; }
    .tarjetas .tienda-cards span {
      padding: 10px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 1.2rem; }
    .tarjetas .tienda-cards a {
      text-decoration: none;
      background: #e85d04;
      padding: 0 5px 0 5px;
      border-radius: 5px;
      color: #000;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: bold; }
      .tarjetas .tienda-cards a:hover {
        color: #e85d04;
        background: #ffffff; }
  .tarjetas .card-2 img {
    width: 300px;
    border-start-start-radius: 20px;
    border-top-right-radius: 20px; }

.select {
  text-align: center;
  margin-bottom: 10px; }
  .select a {
    text-decoration: none;
    color: #000;
    margin: 10px;
    background: #d9d9d9;
    padding: 0 5px 0 5px;
    border-radius: 100%; }
    .select a:hover {
      color: #d9d9d9;
      background: #000; }

@media (max-width: 768px) {
  .tienda-h1 {
    max-width: 90%;
    font-size: 4rem;
    line-height: 4rem;
    margin-top: 50px; }
  .tarjetas {
    display: flex;
    flex-wrap: wrap; }
    .tarjetas .tienda-cards {
      height: 475px; } }

@media (min-width: 280px) and (max-width: 767px) {
  .tienda-h1 {
    line-height: 4rem;
    font-size: 3rem; }
  .tarjetas {
    display: flex;
    flex-direction: column; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
  html #container {
    border: solid 3px #474544;
    max-width: 768px;
    margin: 60px auto;
    position: relative;
    background-color: #ced4da; }
    html #container h1 {
      color: #474544;
      font-size: 32px;
      font-weight: 700;
      letter-spacing: 7px;
      text-align: center;
      text-transform: uppercase; }
    html #container select {
      text-transform: none; }
    html #container input,
    html #container select {
      color: #5A5A5A;
      font: inherit;
      margin: 0; }
    html #container input {
      line-height: normal; }
    html #container form {
      padding: 37.5px;
      margin: 50px 0; }
    html #container .underline {
      border-bottom: solid 2px #474544;
      margin: 0.512em auto;
      width: 80px; }
    html #container .icon_wrapper {
      margin: 50px auto 0;
      width: 100%; }
    html #container .icon {
      display: block;
      fill: #474544;
      height: 50px;
      margin: 0 auto;
      width: 50px; }
    html #container .email {
      float: right;
      width: 45%; }
    html #container input[type='text'],
    html #container [type='email'],
    html #container select,
    html #container textarea {
      background: none;
      border: none;
      border-bottom: solid 2px #474544;
      color: #474544;
      font-size: 1.000em;
      font-weight: 400;
      letter-spacing: 1px;
      margin: 0em 0 1.875em 0;
      padding: 0 0 0.875em 0;
      text-transform: uppercase;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    html #container input[type='text']:focus,
    html #container [type='email']:focus,
    html #container textarea:focus {
      outline: none;
      padding: 0 0 0.875em 0; }
    html #container .name {
      float: left;
      width: 45%; }
    html #container select {
      background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png") no-repeat right;
      outline: none;
      -moz-appearance: none;
      -webkit-appearance: none; }
    html #container select::-ms-expand {
      display: none; }
    html #container .subject {
      width: 100%; }
    html #container .telephone {
      width: 100%; }
    html #container ::-webkit-input-placeholder {
      color: #474544; }
    html #container :-moz-placeholder {
      color: #474544;
      opacity: 1; }
    html #container ::-moz-placeholder {
      color: #474544;
      opacity: 1; }
    html #container :-ms-input-placeholder {
      color: #474544; }
    html #container #form_button {
      background: none;
      border: solid 2px #474544;
      color: #474544;
      cursor: pointer;
      display: inline-block;
      font-family: 'Helvetica', Arial, sans-serif;
      font-size: 0.875em;
      font-weight: bold;
      outline: none;
      padding: 20px 35px;
      text-transform: uppercase;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      html #container #form_button:hover {
        background: #474544;
        color: #F2F3EB; }

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%; } }

@media screen and (max-width: 480px) {
  #container h1 {
    font-size: 26px; }
  .underline {
    width: 68px; }
  #form_button {
    padding: 15px 25px; } }

@media screen and (max-width: 420px) and (min-width: 320px) {
  #container h1 {
    font-size: 10px; }
  .icon {
    height: 35px;
    width: 35px; }
  .underline {
    width: 53px; }
  input[type='text'],
  [type='email'],
  select,
  textarea {
    font-size: 0.875em; } }
