@import "_mixin";


body {
    font-family: sans-serif;
}

.main--blog {
    h1 {
        font-size: 5rem;
        margin: 0 auto;
        text-align: center;
        color: $orange;
        text-shadow: 10px 10px 10px $black;
        margin-bottom: 100px;
    }
}


.main__blog--img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    .blog__img--prim {
        @include tarj-flot;
    }
    .blog__img--seg{
        @include tarj-flot;
    }
    .blog__img--ter{
        @include tarj-flot;
    }
}






@media (max-width: 800px) {
    .main--blog {
        height: 2650px;
        h1{
            line-height: 4rem;
            font-size: 4rem;
            margin: 0 50px 0 50px;
        }
        .blog__img--prim{
            @include media-blog;
        }
        .blog__img--seg{
            @include media-blog;
        }
        .blog__img--ter{
            @include media-blog;
        }
    }
}

@media (max-width: 480px) {
    .main--blog {
        height: 3250px;
    }
}