@mixin boton-o {
    color: $orange;
    background: $black;

}

@mixin hover--botones {
    background-color: $black;
    color: $orange;
}

@mixin tarj-flot($bgc, $wth, $bordr) {
    background-color: $bgc;
    width: $wth;
    border-radius: $bordr;
    margin: 0 auto;
    margin-bottom: 100px;
    padding-top: 35px;
    padding-bottom: 35px;

    img {
        width: 40%;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
        margin: 0 100px 0 100px;

    }

    a {
        @include boton-o;
        padding: 15px;
        border-radius: 8px;
        @extend .tdn;

        &:hover {
            color: $black;
            background-color: $orange;
        }
    }
}

@mixin media-blog {
    width: 95%;

    p {
        margin: 0 50px 0 50px;
    }
}