/* MAIN */

#main__serv {
    background-image: url(../media/img/fondo-serv.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .h1__servicios {
        display: flex;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
        margin: 0 auto;
        width: 90%;
        text-align: center;

        h1 {
            align-items: center;
            text-align: center;
            line-height: 1.2;
            font-size: 2.5rem;
            color: rgb(0, 0, 0);
            background-color: rgba(192, 127, 7, 0.801);
            padding: 15px;
            margin: 0 auto;
        }
    }

    .div__main--primero {
        display: flex;
        justify-content: space-around;
        width: 85%;
        text-align: center;
        margin: 0 auto;


        .main__barba--serv {
            display: block;
            justify-content: space-between;
            font-family: 'Bebas Neue', cursive;
            background-color: rgba(128, 128, 128, 0.563);
            height: 600px;
            width: 85%;

            h2 {
                justify-content: center;
                color: rgb(209, 139, 8);
                font-size: 4.5rem;
                padding-top: 50px;
                padding-bottom: 100px;
            }

            p {
                font-size: 2.2rem;
                padding-bottom: 50px;
            }

            a {
                background-color: rgb(209, 139, 8);
                border-radius: 8px;
                @extend .tdn;
                color: rgb(90, 89, 89);
                font-size: 2rem;
                padding: 10px;
                margin-top: 20px;

                &:hover {
                    background-color: rgb(90, 89, 89);
                    color: rgb(209, 139, 8);
                    border: solid 4px rgb(209, 139, 8);
                    margin: 0px;
                }
            }
        }

        .main__serv--barba {
            display: block;
            justify-content: space-between;
            font-family: 'Bebas Neue', cursive;
            background-color: rgba(128, 128, 128, 0.563);
            height: 650px;
            width: 85%;
        }

        .grid--hijo__video {
            padding-top: 65px;
            background-color: rgba(128, 128, 128, 0.563);

            .iframe {
                padding: 40px;
            }
        }


    }

    .main__fotos--barba {
        display: flex;
        justify-content: space-evenly;
        padding-top: 30px;
        padding-bottom: 100px;
        margin: 100px;

        .barba--div {
            text-align: center;
            height: 450px;
            background-color: rgba(102, 102, 102, 0.61);
            transition: 400ms;

            &:hover {
                transform: translateY(-8%);
                transition: 400ms;
            }
        }

        img {
            width: 300px;
            padding: 20px;
        }

        h3 {
            font-size: 2rem;
            font-family: 'Bebas Neue', cursive;
        }

        .a--boton {
            justify-content: center;
            padding: 30px;
            font-size: 1.9rem;
            font-family: 'Bebas Neue', cursive;
            @extend .tdn;
            color: rgb(94, 94, 94);

            &:hover {
                color: rgb(175, 115, 2);

            }
        }
    }

}




@media (max-width: 425px) and (min-width: 320px){
    #main__serv {
        max-width: 425px;

        .h1__servicios {
            width: 55%;
            margin: 0 auto;
            padding: 0;
        }

        .div__main--primero {
            display: flex;

            .main__barba--serv {
                height: 1000px;

                h2 {
                    line-height: 4rem;
                }
            }

            .main__serv--barba {
                height: 1100px;
                margin-top: 50px;

                h2 {
                    line-height: 4rem;
                }
            }
        }

        .main__fotos--barba {
            display: flex;
            flex-direction: column;
            width: 80%;
            align-items: center;
            margin: 0 auto;

            .barba--div {
                padding-top: 10px;
            }
        }
    }
}


@media (min-width: 426px) and (max-width: 768px) {
    * {
        font-size: 1.15rem;
    }



    .main__serv--barba {
        height: 1000px;

        h2 {
            font-size: 0.1rem;
        }
    }

}