/*                   VARIABLES                */

$orange: #e85d04;
$grey: #d9d9d9;
$black: #000;
$white: #ffffff;

/*                     IMPORT               */

@import "_index";
@import "_servicios";
@import "_blog";
@import "_historia";
@import "_tienda";
@import "_turno";
@import "_mixin";

.tdn{
    text-decoration: none; 
}
